@model List<EcommerceProject.Models.ProductColor>
<div class="container">
    @if (Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Color</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Image</td>
                        <td>@item.Product.Name</td>
                        <td>@item.Color.Name</td>
                        <td>
                            <a href="" class="btn btn-info">Details</a>
                            <a href="" class="btn btn-primary">Edit</a>
                            <a href="" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="alert alert-danger">No data found</p>
    }
</div>


