<!-- filter by color -->
<div class="filter-color">

    <div class="panel-group" id="filter-color">
        <div class="panel panel-default">
            <div class="panel-heading py-2 px-1">
                <a class="" data-toggle="collapse" data-parent="#filter-color" href="#collapse3">Filter By Color</a>
            </div>
            <div id="collapse3" class="panel-collapse collapse in show">
                <div class="panel-body pt-2">
                    <ul class="list-group list-unstyled">
                        <div class="row pl-3">
                            <div class="col-3 p-0">
                                <li class="active" style="background-color: rgb(130, 121, 255);">
                                    <a href="#" class=" "></a>
                                </li>
                            </div>
                            <div class="col-3 p-0">
                                <li style="background-color: rgb(225, 0, 255);">
                                    <a href="#" class=" "></a>
                                </li>
                            </div>
                            <div class="col-3 p-0">
                                <li style="background-color: rgb(0, 161, 8);">
                                    <a href="#" class=" "></a>
                                </li>
                            </div>
                            <div class="col-3 p-0">
                                <li style="background-color: rgb(199, 0, 0);">
                                    <a href="#" class=" "></a>
                                </li>
                            </div>
                            <div class="col-3 p-0">
                                <li style="background-color: rgb(236, 72, 99);">
                                    <a href="#" class=" "></a>
                                </li>
                            </div>
                            <div class="col-3 p-0">
                                <li style="background-color: rgb(0, 183, 255);">
                                    <a href="#" class=" "></a>
                                </li>
                            </div>
                            <div class="col-3 p-0">
                                <li style="background-color: rgb(0, 0, 0);">
                                    <a href="#" class=" "></a>
                                </li>
                            </div>
                            <div class="col-3 p-0">
                                <li style="background-color: rgb(208, 255, 0);">
                                    <a href="#" class=" "></a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>

</div>
