<!-- filter by price -->
<div class="filter-price">

    <div class="panel-group" id="filter-price">
        <div class="panel panel-default">
            <div class="panel-heading py-2 px-1">
                <a class="" data-toggle="collapse" data-parent="#filter-price" href="#collapse2">Filter By Price</a>
            </div>
            <div id="collapse2" class="panel-collapse collapse in show">
                <div class="panel-body pt-2">
                    <div class="fil-price mt-4">
                        <input type="range" min="1" max="5000" value="0" class="price" id="myRange">
                        <p class="mt-4 m-0">Price $0 : $<span id="price"></span></p>
                        <button class="mt-3">Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div><hr>

</div>