USE [master]
GO
/****** Object:  Database [EcommerceProject]    Script Date: 13/07/2020 07:43:59 م ******/
CREATE DATABASE [EcommerceProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcommerceProject', FILENAME = N'I:\Projects\Web\Web Development\E-commerce\Database\EcommerceProject.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EcommerceProject_log', FILENAME = N'I:\Projects\Web\Web Development\E-commerce\Database\EcommerceProject_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcommerceProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcommerceProject]
GO
/****** Object:  Table [dbo].[AboutUs]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutUs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Vision] [nvarchar](max) NOT NULL,
	[Mission] [nvarchar](max) NOT NULL,
	[WhoAreWe] [nvarchar](500) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_AboutUs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brand]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Image] [nvarchar](250) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Color]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Code] [nvarchar](150) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactMesaage]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMesaage](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsAnswer] [bit] NOT NULL,
 CONSTRAINT [PK_ContactMesaage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
	[facebook] [nvarchar](150) NULL,
	[phone] [nvarchar](15) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_ContactUs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [bigint] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalPrice] [bigint] NOT NULL,
	[UserAddressFK] [bigint] NOT NULL,
	[UserFK] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Price] [bigint] NOT NULL,
	[TotalPrice] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderFK] [bigint] NOT NULL,
	[ProductFK] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Price] [bigint] NOT NULL,
	[Image] [nvarchar](250) NOT NULL,
	[Decription] [nvarchar](500) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
	[SubCatFK] [bigint] NULL,
	[CatFK] [bigint] NOT NULL,
	[BrandFK] [bigint] NOT NULL,
	[IsBestSeller] [bit] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductColor]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColor](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](250) NOT NULL,
	[ProductFK] [bigint] NOT NULL,
	[ColorFk] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_ProductColor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [bigint] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
	[CategoryFK] [bigint] NOT NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[RoleFK] [bigint] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAddress]    Script Date: 13/07/2020 07:44:00 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddress](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
	[UserFK] [bigint] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_UserAddress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AboutUs] ON 

SET IDENTITY_INSERT [dbo].[AboutUs] OFF
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [Name], [Image], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'HP', N'/Attachments/Brands/HP-logo.png', 1, CAST(N'2020-06-20 00:00:00.000' AS DateTime), 2, CAST(N'2020-07-07 14:31:51.173' AS DateTime))
INSERT [dbo].[Brand] ([ID], [Name], [Image], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Toshiba', N'/Attachments/Brands/Toshiba-Logo.png', 1, CAST(N'2020-07-06 00:00:00.000' AS DateTime), 2, CAST(N'2020-07-07 14:34:21.323' AS DateTime))
INSERT [dbo].[Brand] ([ID], [Name], [Image], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Samsung', N'/Attachments/Brands/Samsung1-logo.png', 1, CAST(N'2020-07-06 00:00:00.000' AS DateTime), 2, CAST(N'2020-07-07 14:58:49.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[Brand] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Laptop', 1, CAST(N'2020-06-20 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Category] ([ID], [Name], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Smart Phone', 1, CAST(N'2020-07-06 00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Category] ([ID], [Name], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (4, N'Head phone', 1, CAST(N'2020-07-06 00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[ContactMesaage] ON 

INSERT [dbo].[ContactMesaage] ([ID], [Name], [Email], [Message], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [IsAnswer]) VALUES (1, N'Ibrahim Elsayed Selim', N'jimi@gmail.com', N'Test', 2, CAST(N'2020-07-10 22:28:47.190' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[ContactMesaage] ([ID], [Name], [Email], [Message], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [IsAnswer]) VALUES (2, N'Ibrahim Elsayed Selim', N'ibrahim.elsayed.26498@gmail.com', N'This is a test message.', 2, CAST(N'2020-07-10 22:29:52.847' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[ContactMesaage] ([ID], [Name], [Email], [Message], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [IsAnswer]) VALUES (3, N'Ibrahim Elsayed', N'm.e.123@gmail.com', N'Test1', 2, CAST(N'2020-07-10 22:50:52.283' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[ContactMesaage] OFF
SET IDENTITY_INSERT [dbo].[ContactUs] ON 

INSERT [dbo].[ContactUs] ([ID], [Email], [address], [facebook], [phone], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'asmofficial@gmail.com
', N'ShebinElkom 40 Parice Sreet 133/2
', N'web.facebook.com/asmofficial', N'+201012895020
', 1, CAST(N'2020-07-06 00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ContactUs] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Name], [Price], [Image], [Decription], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [SubCatFK], [CatFK], [BrandFK], [IsBestSeller]) VALUES (2, N'Dolby', 2000, N'/Attachments/Products/labtop.png', N'RAM 2 G', 1, CAST(N'2020-02-20 00:00:00.000' AS DateTime), 2, CAST(N'2020-07-06 18:17:48.273' AS DateTime), NULL, 1, 1, 1)
INSERT [dbo].[Product] ([ID], [Name], [Price], [Image], [Decription], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [SubCatFK], [CatFK], [BrandFK], [IsBestSeller]) VALUES (10004, N'ACER', 5000, N'/Attachments/Products/laptop1.jpg', N'RAM 4 G
Core i 5', 1, CAST(N'2020-07-06 18:32:19.860' AS DateTime), 2, CAST(N'2020-07-06 18:32:43.227' AS DateTime), NULL, 1, 1, 0)
INSERT [dbo].[Product] ([ID], [Name], [Price], [Image], [Decription], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [SubCatFK], [CatFK], [BrandFK], [IsBestSeller]) VALUES (10005, N'probook hp', 6000, N'/Attachments/Products/labtop2.jpg', N'RAM 6 G Core i 7	', 1, CAST(N'2020-07-06 18:34:06.000' AS DateTime), 1, CAST(N'2020-07-07 23:00:14.730' AS DateTime), NULL, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [Phone], [Address], [RoleFK], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (1, N'Ibrahim Elsayed', N'ibrahim.elsayed.26498@gmail.com', N'123', N'+201033939718', N'Alex', 1, NULL, CAST(N'2020-06-20 00:00:00.000' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [Phone], [Address], [RoleFK], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (2, N'Omar', N'omar@gmail.com', N'123', N'123', N'Menouf', 2, NULL, CAST(N'2020-06-20 21:14:53.233' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[User] ([ID], [Name], [Email], [Password], [Phone], [Address], [RoleFK], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (3, N'Ahmed', N'a@gmail.com', N'123', N'123', N'Alex', 2, NULL, CAST(N'2020-06-29 08:08:15.727' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[AboutUs]  WITH CHECK ADD  CONSTRAINT [FK_AboutUs_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[AboutUs] CHECK CONSTRAINT [FK_AboutUs_User]
GO
ALTER TABLE [dbo].[AboutUs]  WITH CHECK ADD  CONSTRAINT [FK_AboutUs_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[AboutUs] CHECK CONSTRAINT [FK_AboutUs_User1]
GO
ALTER TABLE [dbo].[Brand]  WITH CHECK ADD  CONSTRAINT [FK_Brand_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FK_Brand_User]
GO
ALTER TABLE [dbo].[Brand]  WITH CHECK ADD  CONSTRAINT [FK_Brand_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FK_Brand_User1]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_User]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_User1]
GO
ALTER TABLE [dbo].[Color]  WITH CHECK ADD  CONSTRAINT [FK_Color_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Color] CHECK CONSTRAINT [FK_Color_User]
GO
ALTER TABLE [dbo].[Color]  WITH CHECK ADD  CONSTRAINT [FK_Color_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Color] CHECK CONSTRAINT [FK_Color_User1]
GO
ALTER TABLE [dbo].[ContactMesaage]  WITH CHECK ADD  CONSTRAINT [FK_ContactMesaage_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ContactMesaage] CHECK CONSTRAINT [FK_ContactMesaage_User]
GO
ALTER TABLE [dbo].[ContactMesaage]  WITH CHECK ADD  CONSTRAINT [FK_ContactMesaage_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ContactMesaage] CHECK CONSTRAINT [FK_ContactMesaage_User1]
GO
ALTER TABLE [dbo].[ContactUs]  WITH CHECK ADD  CONSTRAINT [FK_ContactUs_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ContactUs] CHECK CONSTRAINT [FK_ContactUs_User]
GO
ALTER TABLE [dbo].[ContactUs]  WITH CHECK ADD  CONSTRAINT [FK_ContactUs_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ContactUs] CHECK CONSTRAINT [FK_ContactUs_User1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserFK])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User2] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User2]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserAddress] FOREIGN KEY([UserAddressFK])
REFERENCES [dbo].[UserAddress] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_UserAddress]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderFK])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([ProductFK])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_User]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_User1]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([BrandFK])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CatFK])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_SubCategory] FOREIGN KEY([SubCatFK])
REFERENCES [dbo].[SubCategory] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_SubCategory]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_User1]
GO
ALTER TABLE [dbo].[ProductColor]  WITH CHECK ADD  CONSTRAINT [FK_ProductColor_Color] FOREIGN KEY([ColorFk])
REFERENCES [dbo].[Color] ([ID])
GO
ALTER TABLE [dbo].[ProductColor] CHECK CONSTRAINT [FK_ProductColor_Color]
GO
ALTER TABLE [dbo].[ProductColor]  WITH CHECK ADD  CONSTRAINT [FK_ProductColor_Product] FOREIGN KEY([ProductFK])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[ProductColor] CHECK CONSTRAINT [FK_ProductColor_Product]
GO
ALTER TABLE [dbo].[ProductColor]  WITH CHECK ADD  CONSTRAINT [FK_ProductColor_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ProductColor] CHECK CONSTRAINT [FK_ProductColor_User]
GO
ALTER TABLE [dbo].[ProductColor]  WITH CHECK ADD  CONSTRAINT [FK_ProductColor_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[ProductColor] CHECK CONSTRAINT [FK_ProductColor_User1]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_Category] FOREIGN KEY([CategoryFK])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_Category]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_User]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_User1] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_User1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleFK])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_User1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_User1]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_User] FOREIGN KEY([UserFK])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_UserAddress_User]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_User1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_UserAddress_User1]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_User2] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_UserAddress_User2]
GO
USE [master]
GO
