@model  List<EcommerceProject.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">Orders</h2>
<div id="order-form">
    @Html.Action("DetailsForm")
</div>
<div id="order-table">
    @Html.Action("Orders")
</div>

