
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- start page baner section  -->
<section class="page-baner">
    <div class="container">
        <div class="page-baner-content text-center">
            <h5>Contact Us</h5>
            <div class="baner-link">
                <span><a href="~/Home">Home / </a></span>
                <span><a href="">Contact Us</a></span>
            </div>
        </div>
    </div>
</section>
<!-- end page baner section  -->
<div>
    @Html.Action("ContactUs")
</div>
<div>
    @Html.Action("ContactMessage")
</div>
<script>

    function OnSuccess(data) {

        if (data.done) {
            alert("Message sent successfully");
        } else {
            alert("Error in sending Message");
        }
    }

    function OnFailure(data) {

    }
</script>