@model List<EcommerceProject.Models.Product>
@if (Model.Any())
{
    <section class="new-prodacts">
        <div class="container">

            <div class="row">

                <div class="col-2 d-md-block d-none">
                    <h6 class="py-2 soon">Soon Arrive</h6>
                    <div class="owl-carousel owl-theme soon-arrive py-2">
                        <div class="item">
                            <img src="./img/soon-arrive/1.png" alt="" class="img-fluid">
                        </div>
                        <div class="item">
                            <img src="./img/soon-arrive/2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="item">
                            <img src="./img/soon-arrive/3.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>

                <div class="col-md-10 col-12">

                    <div class="section-name py-2">
                        <h6>New Prodacts</h6>
                        <span></span>
                    </div>

                    <div class=" owl-carousel owl-theme new-arrive">

                        <!--<div class="row">-->
                        <!-- item 1-->
                        <!--  <div class="col-4">-->
                        @foreach (var item in Model)
                        {
                            <div class="item p-1">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="new-arrive-img mt-4">
                                            <img src="@item.Image" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="new-arrive-content">
                                            <h5 class="pt-4 pb-2 m-0">@item.Name</h5>
                                            <p class="m-0">$@item.Price</p>
                                            <div class="new-arrive-rating">
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <div class="new-arrive-actions py-3">
                                                <span data-toggle="tooltip" title="Quick View"><i class="far fa-eye"></i></span>
                                                <span data-toggle="tooltip" title="Add to WishList"><i class="far fa-heart"></i></span>
                                                <span data-toggle="tooltip" title="Add To Cart"><i class="fas fa-shopping-cart ico"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        <!--</div>-->

                    </div>
                </div>

            </div>
        </div>
    </section>
}