<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="~/customs/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/customs/css/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="~/customs/css/owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/customs/webfont/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/customs/css/he-fo.css">

    <link rel="stylesheet" href="~/customs/css/style.css">

</head>

<body>



    <!-- Header -->
    <section class="error-404">
        <div class="container-fluid">
            <div class="content">
                <h1>404</h1>
                <h2>SORRY,PAGE NOT FOUNDED</h2>

                <a type="button" href="/home" class="btn btn-primary">GO TO HOME</a>
                <a type="button" href="/Contact" class="btn btn-primary">CONTACT</a>

            </div>
        </div>
    </section>



    <!-- Footer -->







    <script src="~/customs/js/jQuery3.js"></script>
    <script src="~/customs/js/main.js"></script>
    <script src="~/customs/js/owl/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/customs/css/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/customs/webfont/fontawesome/js/all.min.js"></script>
</body>

</html>>
