
@{
    ViewBag.Title = "ShowAll";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="alert"></div>

<div class="row" id="AddContactMessage">
    @Html.Action("AddContactMessage")
</div>
<div id="IndexPartial">
    @Html.Action("IndexPartial")
</div>
<script>
    //OnSuccess
    function OnSuccess(data)
    {
        if (data.done)
        {
            LoadData();
            Clear();
        }
        else
        {
            alert("error");
        }

    }
    //OnFailure
    function OnFailure()
    {
        toastr.error("ERROR");
    }
    //Clear
    function Clear() {
        $('#form0')[0].reset();
    }
    //Load Data
    function LoadData()
    {
        $.ajax({
            url: '/Admin/ContactMessage/IndexPartial',
            type: 'Get'
        }).done(function (data) {
            $('#IndexPartial').html(data);
        }).fail(function (data) {
            $('.alert').html("error in save");

        });

    }
</script>