
@model List<EcommerceProject.Models.Category>
<div class="container">
    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>

                        <td>
                            <button class="btn btn-info" onclick="DetailsCategory(@item.ID)">Details </button>
                            <button class="btn btn-primary" onclick="EditCategory(@item.ID)"> Edit</button>
                            <button class="btn btn-danger" onclick="DeleteCategory(@item.ID)"> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="alert alert-danger">No data found</p>
    }
</div>
<script>
    function DetailsCategory(id) {
        $.ajax({
            url: '/Admin/Category/DetailsCategory',
            type: 'Get',
            data: {
                id: id
            }
        }).done(function (data) {
            $('#categoryfrom').html(data);
            $('#form0 input').attr('disabled', true)


        }).fail(function (data) {



        });
    }

    function EditCategory(id) {
        $.ajax({
            url: '/Admin/Category/EditCategory',
            type: 'Get',
            data: {
                id: id
            }
        }).done(function (data) {
            $('#categoryfrom').html(data);


        }).fail(function (data) {



        });
    }

    function DeleteCategory(id) {
        $.ajax({
            url: '/Admin/Category/DeleteCategory',
            type: 'Get',
            data: {
                id: id
            }
        }).done(function (data) {
            LoadData();
            message = '<p class="alert alert-success">' + data.message + '</p>';
            $('#alert').html(message);
        }).fail(function (data) {
            $('.alert').html('Erorr In Delete');


        });
    }

    function Add() {
        $.ajax({
            url: "/Admin/Category/AddCategory",
            type: "Get",

        }).done(function (data) {
            $('#categoryfrom').html(data);
        }).fail(function () {
            $('.alert').html("Error in load form");
        });
    }
</script>

