
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category</h2>
<div id="alert"></div>
<div class="row" id="categoryfrom">
    @Html.Action("AddCategory")
</div>
<div id="CategroyDetails">
    @Html.Action("CategoryDetails")
</div>
<script>
    function onsuccess(data) {
        if (data.done) {
            LoadData();
            Clear();

            if (data.edit) {
                Add();
                message = '<p class="alert alert-success">' + data.message + '</p>';
                $('#alert').html(message);
            } else if (data.add) {
                message = '<p class="alert alert-success">' + data.message + '</p>';
                $('#alert').html(message);
            }
        }
        else {
            alert("Errorr");
        }

    }
    function OnFailure() {
        toastr.error("Errror");
    }
    function Clear() {
        $("#form0")[0].reset();
    }
    function LoadData() {
        $.ajax({
            url: '/Admin/Category/CategoryDetails',
            type: 'Get'
        }).done(function (data) {
            $('#CategroyDetails').html(data);

        }).fail(function (data) {
            $('.alert').html('Erorr In Save');

        });
    }

</script>

