@model List<EcommerceProject.Models.Color>
<div class="container">
    @if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>